.container {
    border: 2px solid teal;
}

h2 {
    display: block;
}

.results-container,
.current-weather {
    background-color: rgb(225, 241, 247);
} 

.current-weather {
    color: teal;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-text {
    display: flex;
    flex: 1;
}

span {
    font-weight: bold;
}

.current-icon {
    width: 100px;
    height: auto;
}

.weather-card {
    border: 2px lightgrey solid;
    padding: 20px;
    background-color: linen;
}

img {
    float: inline-end;
}